.Xauthority
**/.cache
**/.dbus
**/.dmenu_cache
.config/*
!.config/custom
.config/custom/*
!.config/user-dirs.dirs
!.config/custom/emailconfig.sample.py
!.config/custom/iptables.rules
*.swp
.gnome/
.local/
.mozilla/
.mplayer/
.nvidia-settings-rc
.pki/
.profile
.ssh/
.vim/
.viminfo
.vimrc
.xsession-errors
projects/
downloads/
.bash_*
.Xresources
.asoundrc
.bashrc
.bin
.cargo
.config
.gconf
.gnupg
.java
.minecraft
.nv
.thumbnails
.xsession
mnt
vpn

